
<div class="container">
  <h1>Welcome to Coolness</h1>

  <p>Hello, world - this is posts territory!</p>
    <form action='/cool_url' method='post' >
        <input type="text" name="user_input" placeholder="Enter post word"></input>
      </br>
      </br>
        <textarea cols="40" rows="5" name="texty" placeholder = "Enter your post text here!"></textarea>
      </br>
      </br>
        <input type="radio" name="group1" value="Milk"> Milk<br>
        <input type="radio" name="group1" value="Butter" checked> Butter<br>
        <input type="radio" name="group1" value="Cheese"> Cheese
      </br>
      </br>
        <input type="radio" name="group2" value="Water"> Water<br>
        <input type="radio" name="group2" value="Beer"> Beer<br>
        <input type="radio" name="group2" value="Wine" checked> Wine
      </br>
      </br>
        <input type="checkbox" name="option1" value="Milk"> Milk<br>
        <input type="checkbox" name="option2" value="Butter" checked> Butter<br>
        <input type="checkbox" name="option3" value="Cheese"> Cheese<br>
      </br>
        <select name="mydropdown">
        <option value="Milk">Fresh Milk</option>
        <option value="Cheese">Old Cheese</option>
        <option value="Bread">Hot Bread</option>
        </select>
      </br>
    </br>
        <input type="submit" name="click" value="click"></input>
    </form>
  </br>
  <hr>
  <p>Hello, world - this is gets territory!</p>
    <form action='/cool_url' method='get' >
        <input type="text" name="user_input" placeholder="Enter get word"></input>
      </br>
      </br>
        <textarea cols="40" rows="5" name="texty" placeholder = "Enter your get text here!"></textarea>
        </br>
        </br>
          <input type="radio" name="group1" value="Milk"> Milk<br>
          <input type="radio" name="group1" value="Butter" checked> Butter<br>
          <input type="radio" name="group1" value="Cheese"> Cheese
        </br>
        </br>
          <input type="radio" name="group2" value="Water"> Water<br>
          <input type="radio" name="group2" value="Beer"> Beer<br>
          <input type="radio" name="group2" value="Wine" checked> Wine
        </br>
        </br>
          <input type="checkbox" name="option1" value="Milk"> Milk<br>
          <input type="checkbox" name="option2" value="Butter" checked> Butter<br>
          <input type="checkbox" name="option3" value="Cheese"> Cheese<br>
         </br>

        <select name="mydropdown">
        <option value="Milk">Fresh Milk</option>
        <option value="Cheese">Old Cheese</option>
        <option value="Bread">Hot Bread</option>
        </select>
      </br>
    </br>
        <input type="submit" name="click" value="Submit"></input>
    </form>
<!--
<h3>Here are the words:</h3>
<div class="anagram">
    <%if @word_anagram%>
    <% @word_anagram.each do |word|%>
    <p><%=word%></p>
    <%end%>
    <%end%>
  </div> -->
</div>


<!-- <html>
<head>
<title>My Page</title>
</head>

<body>
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
This is outside the area<br><br>
<textarea cols="40" rows="5" name="myname">
Now we are inside the area - which is nice.
</textarea>
<br><br>
And now we are outside the area again.
</div>
</form>
</body>
</html> -->